/*! campaign start  */
.campaigns .campaigns-wrapper {
  display: flex;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}
/*! campaign end  */
@media (max-width: 768px) {
  .campaigns .campaign-item {
    width: 100%; /* Full width on smaller screens */
    padding: 50px 20px; /* Adjust padding for smaller screens */
    /* Consider adjusting font sizes and other elements for smaller screens */
  }
}

